<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-signalfx-index") %>>
          <a href="/docs/providers/signalfx/index.html">SignalFx Provider</a>
        </li>

        <li<%= sidebar_current("docs-signalfx-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-signalfx-resource-dashboard") %>>
              <a href="/docs/providers/signalfx/r/dsahboard.html">signalfx_dashboard</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-dashboard_group") %>>
              <a href="/docs/providers/signalfx/r/dashboard_group.html">signalfx_dashboard_group</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-detector") %>>
              <a href="/docs/providers/signalfx/r/detector.html">signalfx_detector</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-integration") %>>
              <a href="/docs/providers/signalfx/r/integration.html">signalfx_integration</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-integration_pagerduty") %>>
              <a href="/docs/providers/signalfx/r/integration_pagerduty.html">signalfx_integration_pagerduty</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-heatmap_chart") %>>
              <a href="/docs/providers/signalfx/r/heatmap_chart.html">signalfx_heatmap_chart</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-list_chart") %>>
              <a href="/docs/providers/signalfx/r/list.html">signalfx_list_chart</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-single_value_chart") %>>
              <a href="/docs/providers/signalfx/r/single_value.html">signalfx_single_value_chart</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-text_chart") %>>
              <a href="/docs/providers/signalfx/r/text.html">signalfx_text_chart</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-time_chart") %>>
              <a href="/docs/providers/signalfx/r/time.html">signalfx_time_chart</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
