<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-signalfx-index") %>>
          <a href="/docs/providers/signalfx/index.html">SignalFx Provider</a>
        </li>

        <li<%= sidebar_current("docs-signalfx-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-signalfx-signalfx-aws-services") %>>
              <a href="/docs/providers/signalfx/d/aws_services.html">signalfx_aws_services</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-signalfx-azure-services") %>>
              <a href="/docs/providers/signalfx/d/azure_services.html">signalfx_azure_services</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-signalfx-dimension-values") %>>
              <a href="/docs/providers/signalfx/d/dimension_values.html">signalfx_dimension_values</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-signalfx-gcp-services") %>>
              <a href="/docs/providers/signalfx/d/gcp_services.html">signalfx_gcp_services</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-signalfx-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-signalfx-resource-alert-muting-rule") %>>
              <a href="/docs/providers/signalfx/r/alert_muting_rule.html">signalfx_alert_muting_rule</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-aws-integration") %>>
              <a href="/docs/providers/signalfx/r/aws_integration.html">signalfx_aws_integration</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-aws-external-integration") %>>
              <a href="/docs/providers/signalfx/r/aws_external_integration.html">signalfx_aws_external_integration</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-aws-token-integration") %>>
              <a href="/docs/providers/signalfx/r/aws_token_integration.html">signalfx_aws_token_integration</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-azure-integration") %>>
              <a href="/docs/providers/signalfx/r/azure_integration.html">signalfx_azure_integration</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-dashboard") %>>
              <a href="/docs/providers/signalfx/r/dashboard.html">signalfx_dashboard</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-dashboard-group") %>>
              <a href="/docs/providers/signalfx/r/dashboard_group.html">signalfx_dashboard_group</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-data-link") %>>
              <a href="/docs/providers/signalfx/r/data_link.html">signalfx_data_link</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-detector") %>>
              <a href="/docs/providers/signalfx/r/detector.html">signalfx_detector</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-event-feed-chart") %>>
              <a href="/docs/providers/signalfx/r/event_feed_chart.html">signalfx_event_feed_chart</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-gcp-integration") %>>
              <a href="/docs/providers/signalfx/r/gcp_integration.html">signalfx_gcp_integration</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-heatmap-chart") %>>
              <a href="/docs/providers/signalfx/r/heatmap_chart.html">signalfx_heatmap_chart</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-jira-integration") %>>
              <a href="/docs/providers/signalfx/r/jira_integration.html">signalfx_jira_integration</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-list-chart") %>>
              <a href="/docs/providers/signalfx/r/list_chart.html">signalfx_list_chart</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-opsgenie-integration") %>>
              <a href="/docs/providers/signalfx/r/opsgenie_integration.html">signalfx_opsgenie_integration</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-org-token") %>>
              <a href="/docs/providers/signalfx/r/org_token.html">signalfx_org_token</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-pagerduty-integration") %>>
              <a href="/docs/providers/signalfx/r/pagerduty_integration.html">signalfx_pagerduty_integration</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-slack-integration") %>>
              <a href="/docs/providers/signalfx/r/slack_integration.html">signalfx_slack_integration</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-single-value-chart") %>>
              <a href="/docs/providers/signalfx/r/single_value_chart.html">signalfx_single_value_chart</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-team") %>>
              <a href="/docs/providers/signalfx/r/team.html">signalfx_team</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-text-chart") %>>
              <a href="/docs/providers/signalfx/r/text_chart.html">signalfx_text_chart</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-time-chart") %>>
              <a href="/docs/providers/signalfx/r/time_chart.html">signalfx_time_chart</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-victor-ops-integration") %>>
              <a href="/docs/providers/signalfx/r/victor_ops_integration.html">signalfx_victor_ops_integration</a>
            </li>
            <li<%= sidebar_current("docs-signalfx-resource-webhook-integration") %>>
              <a href="/docs/providers/signalfx/r/webhook_integration.html">signalfx_webhook_integration</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
